/node_modules

# client
/packages/client/node_modules
/packages/client/.pnp
/packages/client/.pnp.js
/packages/client/coverage
/packages/client/build
/packages/client/.DS_Store
/packages/client/.env.local
/packages/client/.env.development.local
/packages/client/.env.test.local
/packages/client/.env.production.local
/packages/client/npm-debug.log*
/packages/client/yarn-debug.log*
/packages/client/yarn-error.log*


# server
/packages/server/node_modules
/packages/server/dist
/packages/server/logs
/packages/server/*.log
/packages/server/npm-debug.log*
/packages/server/yarn-debug.log*
/packages/server/yarn-error.log*
/packages/server/lerna-debug.log*
/packages/server/.DS_Store
/packages/server/coverage
/packages/server/.nyc_output
/packages/server/.idea
/packages/server/.project
/packages/server/.classpath
/packages/server/.c9/
/packages/server/*.launch
/packages/server/.settings/
/packages/server/*.sublime-workspace
/packages/server/.vscode/*
/packages/server/!.vscode/settings.json
/packages/server/!.vscode/tasks.json
/packages/server/!.vscode/launch.json
/packages/server/!.vscode/extensions.json